@using Entity
@model List<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Kategori Adı</th>
        <th>Listele</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td><a href="/Category/ProductByCategory/@item.CategoryId" class="btn btn-primary">Ürünler</a></td>
        </tr>
    }
</table>


